PORT=5000
FRONTEND_URL=http://localhost:5173
VITE_API_URL=

VITE_PAYSTACK_PUBLIC_KEY=your_paystack_public_key
PAYSTACK_SECRET_KEY=your_paystack_secret_key

SMTP_HOST=smtp.gmail.com
SMTP_FAMILY=4
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_gmail_address
SMTP_PASS=your_gmail_app_password

EMAIL_FROM=your_gmail_address
EMAIL_TO=restaurant_recipient_address
